<div
  class="relative bg-white w-full md:w-full rounded-lg shadow-lg p-5 flex flex-col md:flex-row md:items-center md:justify-between lg:justify-normal border-l-4 mb-10"
  [ngClass]="{
    'border-greens-400': jobItems.featured,
    'border-transparent': !jobItems.featured
  }">
  <!-- Company Logo -->
  <div class="absolute -mt-[12%] md:static md:mt-0 ml-1 md:ml-0">
    <img [src]="jobItems.logo" alt="" class="w-12 h-12 object-contain" />
  </div>

  <!-- Job Info -->
  <div class="mt-[5%] md:mt-0 lg:ml-4  flex flex-col gap-2 ">
    <!-- Company & Tags -->
    <div class="flex items-center gap-2 flex-wrap ">
      <p class="text-greens-400 font-bold text-sm mr-4">{{ jobItems.company }}</p>
      @if (jobItems.new) {
      <span class="bg-greens-400 text-white text-xs uppercase px-2 py-1 rounded-full">New!</span>
      }

      @if (jobItems.featured) {
      <span class="bg-gray-800 text-white text-xs uppercase px-2 py-1 rounded-full">Featured
      </span>
      }
    </div>

    <!-- Position -->
    <p class="font-bold text-sm hover:text-greens-400 cursor-pointer dark:text-greens-400">
      {{ jobItems.position }}
    </p>

    <!-- Details -->
    <div class="text-grays-400 flex gap-3 text-sm">
      <p>{{ jobItems.postedAt }}</p>
      <span>&bull;</span>
      <p>{{ jobItems.contract }}</p>
      <span>&bull;</span>
      <p>{{ jobItems.location }}</p>
    </div>
  </div>

  <!-- Divider (Mobile Only) -->
  <hr class="border-grays-300 w-full my-5 md:hidden" />

  <!-- Skills -->
  <div class="flex flex-wrap gap-5 md:gap-x-2 md:gap-y-0  md:ml-0  lg:ml-auto">
    <span (click)="selectItems(jobItems.role)"
      class="p-2 text-sm bg-greens-50 text-greens-400 font-bold rounded-md cursor-pointer hover:bg-greens-400 hover:text-white transition">
      {{ jobItems.role }}
    </span>
    <span (click)="selectItems(jobItems.level)"
      class="p-2 bg-greens-50 text-sm text-greens-400 font-bold rounded-md cursor-pointer hover:bg-greens-400 hover:text-white transition">
      {{ jobItems.level }}
    </span>
    @for (lang of jobItems.languages; track $index) {
    <span (click)="selectItems(lang)"
      class="p-2 text-sm font-bold bg-greens-50 text-greens-400  rounded-md cursor-pointer hover:bg-greens-400 hover:text-white transition">
      {{ lang }}
    </span>}
    @for (item of jobItems.tools; track $index) {
    <span (click)="selectItems(item)"
      class="p-2 bg-greens-50 text-greens-400 font-bold rounded-md cursor-pointer hover:bg-greens-400 hover:text-white transition">
      {{ item }}
    </span>
    }
  </div>
</div>
