<main class="bg-greens-400">
  <header class="header h-40 relative"></header>

  <div class="bg-greens-50 pt-12 flex flex-col px-6">

    <div class=" flex gap-3 rounded-lg py-3 px-6 -mt-[15%] md:-mt-[10%] lg:-mt-[7%] absolute "
      [ngClass]="selectedItems.length > 0 ? ['bg-white'] : []">

      @for (item of selectedItems; track $index) {
      <div class=" bg-greens-50 text-greens-400 font-bold flex rounded-sm ">
        <span class="px-2 py-1">
          {{ item }}
        </span>
        <span (click)="removeItem(item)"
          class="cursor-pointer font-bold text-white bg-greens-400 flex items-center justify-center px-2 py-1 rounded-r-sm hover:bg-black">
          ×
        </span>
      </div>
      }
    </div>
    <div>
      @for (item of filterList; track item.id) {
      <app-card [jobItems]="item" (selectedItemChange)="updateSelectedItems($event)" />}
    </div>
  </div>
</main>


<router-outlet />
